* {
    padding: 0;
    margin: 0px;
   
    box-sizing: border-box;
  }
  body {
   margin: 300px;
    font-family: 'Open Sans', sans-serif;
    background: #abe7ff;
  }
  .container {
    max-width: 800px;
    display: flex;
    justify-content: space-evenly;
    margin:100 auto;
  }
  .card-wrapper {
    width: 400px;
    height: 500px;
    position: relative;
  }
  .card {
    position:relative;
    top: 50%;
    left: 70;
   
    width: 350px;
    height: 450px;
    transform: translate(-50%, -50%);
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 5px 18px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    transition: 0.5s;
    margin-left: 300px;
  }
  
 
  
  /**** Social Icons *****/
  .social-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    display: flex;
  }
  .social-icons li {
    list-style: none;
  }
  .social-icons li a {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #fff;
    font-size: 23px;
    color: #333;
    font-weight: bold;
    margin: 0 6px;
    transition: 0.4s;
    transform: translateY(200px);
    opacity: 0;
  }
  .card:hover .social-icons li a {
    transform: translateY(0px);
    opacity: 1;
  }
  .social-icons li a:hover {
    background: #000;
    transition: 0.2s;
  }
  .social-icons li a:hover .fab {
    color: #fff;
  }
  .social-icons li a .fab {
    transition: 0.8s;
  }
  .social-icons li a .fab:hover {
    transform: rotateY(360deg);
    color: #fff;
  }
  .card:hover li:nth-child(1) a {
    transition-delay: 0.1s;
  }
  .card:hover li:nth-child(2) a {
    transition-delay: 0.2s;
  }
  .card:hover li:nth-child(3) a {
    transition-delay: 0.3s;
  }
 
 
 

 
  
  